<!DOCTYPE html>

<html>
    <head>
        <title>Área de votação</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="fragments/CssFragment :: css"></th:block>
        <style>
            .circular_image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                display:inline-block;
                vertical-align:middle;
            }
            .circular_image img {
                width:100%;
            }
        </style>
    </head>
<body>
    <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
    <th:block th:each="eleicao : ${listaEleicoes}">
        <p>[[${eleicao.nome}]]</p>
        <th:block th:each="eleicoesCandidato : ${eleicoesCandidatos}">
            <p th:text="${eleicoesCandidato.key}">keyvalue</p>
            <th:block th:each="eleicoesCandidato : ${eleicoesCandidato.value}">
                <th:block th:each="candidatos : ${eleicoesCandidato}">
                    <p>[[${candidatos.nome}]]</p>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:replace="fragments/JsFragment :: script"></th:block>
</body>
</html>
