<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #d49a11;" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Eleções</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/eleicao}">Nova</a></li>
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/eleicao/pesquisar}">Pesquisar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Cargos</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/cargo}">Novo</a></li>
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/cargo/pesquisar}">Pesquisar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Candidato</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/candidato}">Novo</a></li>
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/candidato/pesquisar}">Pesquisar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Área do eleitor</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/votar}">Votar</a></li>
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/rel/final}">Relatório final</a></li>
                            <li><a class="dropdown-item" aria-current="page" th:href="@{/rel/parcial}">Relatório parcial</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>